.NavigationPanel{
    display: flex;
   
    right:0;
    position: fixed;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 99;
}
.Icon{
    position: fixed;
    bottom: 101px;
    right: 101px;
    transition:0.3s ease-in-out;
    cursor:pointer;
}

.IMG{
    opacity:0.9;
    width: 55px;
    height:55px;
    background:white;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #646464, 0 0 0px rgb(255, 0, 0), 0 0 0px darkred; 
    

}

.IMG:hover{
    
    box-shadow: 10px 10px 10px #646464
}

.IMG img{
    position:relative;
    top:8.5px;
    max-height:38px;
    max-width:38px;

}

.Transition{
    transition:all 0.3s ease-in-out;
    display:flex;
    flex-direction: row;
    justify-content:center;

}

@media (max-width: 767px) {
    .IMG {

    }
    .Icon{
        position: fixed;
        bottom: 15vh;
        right: 70px;
        scale:0.7;
        transition:0.3s ease-in-out;
        cursor:pointer;
    }

}