.NavigationPanel{
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-content: flex-end;
    z-index: 1000;
}
.Icon{
    position: fixed;
    bottom: 101px;
    right: 101px;
    
}