.IMG {
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width:50%;
    background:transparent;
    z-index: 79;
    transition: 0.2s ease;

}

.Car{
    width:100%;
    height:100%;
    transition: 0.2s ease;
}

.Pro{
 
    
    max-width: 45vw;
    object-fit: cover;
    max-block-size: fit-content;
    
}