


.Button {
    display:flex;
    font-family:montserrat;
    font-size:15px;
    color:white;
    border:none !important;
    background-color: transparent
}
 .Button span{
    position: relative;
    margin:0;
    display:flex;
    border: white solid 3px;
    min-height:35px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

 .Button span:first-child{
    width:40px;
    background-color:white;
}
 .Button span:nth-child(2){

   
    width:160px;
    right:2px;
    
    background-color:red;
}
 .Button span:nth-child(3){
    right:4px;
    width:40px;
    
    background-color:red;
}

