
.videoBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    
}
.Video{
    
    width:100vw;
    height:100vh;
    object-fit: cover;
    object-position: center;
    
    overflow:hidden;
    z-index: -1000;

}