.ContactBox {
    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items : center;
    background-color:rgb(255, 255, 255);
    width: 90vw;
    height:90vh;
    z-index: 9999;
    margin:5vh 5vw;
    transition: all 400ms ease-in-out;
}


.IconBox{
    position:relative;
    top:15vh;
    width:10vw;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
}
.IconBox div svg {
    color:rgb(0, 0, 0);
    transition:all 200ms ease-in-out;
}
.IconBox div svg:hover {
    color:red;
}

.ContactText {
    position:relative;
    top:0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ContactText h1 {
font-family:montserrat;
font-size: 25px;
color:rgb(3, 3, 3);
margin:0;

}
.ContactText p {
    text-align: center;
    font-family: montserrat;
    font-size:16px;
    color:rgb(3, 3, 3);
    width:18vw;
    
}

@media (max-width: 767px) {
    .ContactBox {
        position:fixed;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items : center;
        background-color:rgb(255, 255, 255);
        width: 90vw;
        height:90vh;
        z-index: 9999;
        margin:5vh 5vw;
        transition: all 400ms ease-in-out;
    }
    
    
    .IconBox{
        position:relative;
        top:8vh;
        
        width:10vw;
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items:center;
    }
    .IconBox div svg {
        color:rgb(0, 0, 0);
        transition:all 200ms ease-in-out;
    }
    .IconBox div svg:hover {
        color:red;
    }
    
    .ContactText {
        position:relative;
        top:0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ContactText h1 {
    font-family:montserrat;
    font-size: 25px;
    color:rgb(3, 3, 3);
    margin:0;
    
    }
    .ContactText p {
        text-align: center;
        font-family: montserrat;
        font-size:16px;
        color:rgb(3, 3, 3);
        width:80vw;
        
    }

}
